{% extends "base.html" %}

{% block content %}
    {% component "heading" content="dhc" %}{% endcomponent %}
    (There should be a green H1 tag above that shows an alert when clicked)
    <div>
        Django + HTMX + django-components base project
    </div>
    <div>
        Version:
        <span hx-trigger="load" hx-get="/static/version.txt">loading...</span>
    </div>
    <div>
        (The content of /static/version.txt should have been fetched by HTMX and appended above)
    </div>
{% endblock %}
